<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols:3 lg:grid-cols-3 mx-auto py-8 px-2">
    {% for project in projects %}
        <article
                class="mx-auto max-w-sm h-96 shadow-xl bg-cover bg-center bg-no-repeat transform duration-500 hover:-translate-y-2 cursor-pointer group"
                style="background-image: url({{ asset('images/about.jpg') }});">
            <a href="{{ path('project', { project: project.slug }) }}">
                <div class="bg-black bg-opacity-20 h-96 px-10 py-4 flex flex-wrap flex-col justify-end hover:bg-opacity-75 transform duration-300">
                    <h3 class="text-white text-3xl mb-5 group-hover:mb-0 transform translate-y-20 group-hover:translate-y-0 duration-300">
                        {{ project.name|escape }}
                    </h3>
                    <div class="py-2 flex flex-row flex-wrap">
                        {% for category in project.categories %}
                            <a href="{{ path('projects', { category: category.slug }) }}">
                                <span class="inline bg-gradient-to-br from-pink-500 to-orange-400 opacity-0 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full group-hover:opacity-80 transform duration-500  hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200">{{ category.name|escape }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <p class="opacity-0 text-white text-xl group-hover:opacity-80 transform duration-500">
                        {{ project.description|escape|slice(0, 70)|split(' ')|slice(0, -1)|join(' ') }}...
                    </p>
                </div>
            </a>
        </article>
    {% endfor %}
</div>
